@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap");

body {
  font-family: var(--font-display);
  font-size: var(--default-font-size);
  font-weight: 400;
}

p {
  line-height: 1.6;
}
