:root {
  // COLORS
  --color-primary-light: #b43232;
  --color-primary: #8d1919;
  --color-primary-dark: #780000;
  --color-white: #fff;
  --color-grey: #515151;
  --color-grey-light: rgba(252, 252, 252, 0.993);
  --color-grey-light-2: rgb(235, 235, 235);
  --color-grey-light-3: #cecece;
  --color-dark: #292929;

  // FONTS
  --font-display: "Roboto", sans-serif;
  --default-font-size: 1.6rem;
}
