%alert {
  text-align: center;
  padding: 2rem 0;
  margin: 1rem 0;
  border-top: 2px solid #000;
  font-weight: 600;
}

.alert-danger {
  @extend %alert;
  color: rgba(124, 37, 37, 0.452);
  border-top: 2px solid rgba(255, 94, 94, 0.89);
  background-color: rgba(255, 231, 231, 0.952);
}
