.card {
  padding: 2rem;
  background-color: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--color-grey);
  cursor: pointer;
  &__heading {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
    transition: color 0.2s;
    &:hover {
      color: var(--color-primary);
    }
  }
  transition: all 0.2s;

  &:hover {
    border-color: var(--color-primary);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  }
}
