.dropdown {
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      fill: var(--color-white);
      width: 1.1rem;
      height: 1.1rem;
    }

    &:focus {
      outline: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-grey-light-2);
    border-radius: 7px;
    background-color: white;
  }

  &__item {
    width: 100%;
    margin: 1.2rem 6rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-grey);
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--color-grey);
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-light);
    }
  }
}
