.topicpage {
  grid-column: main-start / sidebar-end;
}

.topic-informations {
  margin: 3rem 0;
  border: 1px solid var(--color-grey-light-2);
  border-radius: 7px;
  background-color: var(--color-white);
  height: 35vh;
  display: grid;
  grid-template-columns: [author-start] minmax(min-content, 15rem) [author-end main-start] 1fr [main-end];
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.05);

  &__author {
    grid-column: author-start / author-end;

    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: var(--color-grey);
      text-decoration: none;
    }

    img {
      width: 12rem;
      height: 12rem;
      margin-bottom: 1.5rem;
      border-radius: 7px;
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);
    }
  }

  &__main {
    border-left: 1px solid var(--color-grey-light-2);
    padding: 1rem 2rem;
    grid-column: main-start / main-end;
    display: grid;
    grid-template-rows: 3.5rem 1fr 4rem;
  }

  &__header {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
  }

  &__header-date {
    font-weight: 300;
    font-size: 1.3rem;
  }

  &__header-cta {
    display: flex;

    svg {
      fill: var(--color-grey);
      width: 1.25rem;
      height: 1.25rem;
    }

    position: relative;

    .dropdown__menu {
      top: 3rem;
    }
  }

  &__cta {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: flex-end;
  }

  button {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

.reply__actions {
  display: flex;

  button:not(:last-child) {
    margin-right: 1rem;
  }
}