<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nodoo Forum{% endblock %}</title>
        <meta name="author" content="Alex Chesnay">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        {{ encore_entry_link_tags('main') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('main') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
